/*global start*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
li {
  list-style: none;
}

a,
button {
  font-family: "Barlow", sans-serif;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: #0C0B0B;
  font-family: "Barlow";
}

h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  line-height: 54px;
  color: #4e1693;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 27px;
    line-height: 34px;
  }
}
@media screen and (max-width: 395px) {
  h1 {
    font-size: 18px;
    line-height: 23px;
  }
}

h2 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  line-height: 54px;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 34px;
    line-height: 40px;
  }
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 27px;
    line-height: 34px;
  }
}
@media screen and (max-width: 395px) {
  h2 {
    font-size: 18px;
    line-height: 23px;
  }
}

.common-btn a {
  display: inline-block;
  background: #00bcd4;
  font-size: 17px;
  color: #fff;
  padding: 12px 28px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 30px;
}
.common-btn a:hover {
  background-color: transparent;
  border: 1px solid #00bcd4;
  color: #00bcd4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*banner-css-start*/
.homebanner-section {
  position: relative;
  height: 600px;
  background-image: url(../images/homebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/*banner-css-end*/
/*home-css-start*/
input#name {
  display: block;
  width: 100%;
  height: 5rem;
  border: 1px solid #cfcfcf;
  padding: 2rem 2rem;
  background: transparent;
  color: #000000;
}

.form-group.space > input#name {
  width: 50%;
}

.form-group.space {
  text-align: right;
  display: flex;
  justify-content: end;
}

img.img-fluid.submiticon {
  height: 25px;
  width: 25px;
  color: #000000;
  cursor: pointer;
  margin-right: 5px;
}

a.btnsubmit {
  background: #ffd523;
  padding: 11px 36px;
  border: 1px solid #ffd523;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}
a.btnsubmit:hover {
  background-color: gray;
  border: 1px solid gray;
}

.form-group.new > a.btnsubmit {
  display: inline-block;
}

input#email::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 16px;
}

.text-section {
  padding: 50px 0 0 0;
}

.telephonic-info {
  padding: 50px 0;
}

p.icon {
  position: relative;
}

p.icon img {
  position: absolute;
  bottom: 15px;
  width: 27px;
  height: 27px;
  left: 21px;
}

.tiles-title h2 {
  color: #ff3a00;
}
.tiles-title p {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #0C0B0B;
  font-family: "Barlow";
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.leaderboard-main {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.leaderboard-rating {
  border: 1px solid #00bcd4;
  padding: 30px 75px;
  background-color: #00bcd4;
  text-align: center;
  max-width: 292px;
  margin: 0 auto;
  border-radius: 17px;
  transition: 1s ease;
  opacity: 1;
}
.leaderboard-rating:hover {
  opacity: 0.5;
  transition: 1s ease;
}
.leaderboard-rating h4 {
  color: #fff;
  font-size: 25px;
  max-width: 99%;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
}
.leaderboard-rating img {
  max-width: 60px;
  margin: 0 auto;
  transition: 1s ease;
}
.leaderboard-rating img:hover {
  transform: translateY(-10px);
}

.fantasy-picture {
  display: flex;
  justify-content: center;
}
.fantasy-picture img {
  border-radius: 50%;
  background-position: 50% 50%;
  max-width: 450px;
  height: 450px;
  object-fit: cover;
}
.fantasy-text h3 {
  color: #4e1693;
  font-size: 42px;
  font-weight: 700;
  position: relative;
}
.fantasy-text h3::after {
  content: "";
  position: absolute;
  background: #ffd523;
  height: 5px;
  width: 24%;
  top: 50px;
  left: 0;
}
.fantasy-text span {
  color: #4e1693;
  font-size: 42px;
  font-weight: 700;
}
.fantasysports {
  padding: 50px 0;
}

.aboutsports {
  padding: 50px 0;
  background: orange;
}
.about-picture img {
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.row.about {
  display: flex;
  align-items: center;
}

.fantasy-text.about {
  margin-left: -150px;
}
.fantasy-text.about p {
  color: #fff;
}

.locallanguage {
  background: url(../images/languageback.jpeg) #0d1e1e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 50px 0;
}
.locallanguage-text {
  display: flex;
  flex-direction: column;
  background: rgba(247, 240, 221, 0.368627451);
  justify-content: center;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(100% + 150px);
  padding: 40px;
}
.locallanguage-text h3 {
  color: #f7f0dd;
  font-size: 42px;
  font-weight: 700;
}
.locallanguage-text p {
  color: #fff;
}

.about_us_content {
  padding: 2rem;
  margin: 30px 0;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #cfcfcf;
  padding: 2rem 2rem;
  background: transparent;
  color: grey;
}

.input-control::placeholder {
  color: grey;
}

textarea.input-control {
  resize: none;
  height: auto;
}

a.submit {
  background: orange;
  border: 1px solid orange;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  text-transform: uppercase;
}
a.submit:hover {
  color: #ffd523;
  border: 1px solid #ffd523;
  background-color: transparent;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #cfcfcf;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

.contact-picture {
  display: flex;
  justify-content: center;
}
.contact-picture img {
  max-width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;
}

section.contact__text {
  padding: 50px 0;
}

/*home-css-end*/
/*footer-css-start*/
.footer {
  padding: 90px 0;
  background-color: orange;
}
.footer-links {
  text-align: center;
}
.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.footer-links h2 {
  color: #fff;
}
.footer-links a {
  color: #fff;
}
.footer-links a:hover {
  color: #4e1693;
}
.footer-picture {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}
.footer-picture img {
  max-width: 45px;
}

/*howplay-content-css-start*/
.howplay {
  padding: 50px 0;
}

.howplay-content h3 {
  font-size: 42px;
  color: #4e1693;
  font-weight: 700;
}
.howplay-content h4 {
  font-size: 20px;
  color: #4e1693;
  font-weight: 700;
}

section.privacy-policy {
  padding: 50px 0;
}

.content-wrap h2 {
  font-size: 42px;
  color: #4e1693;
  font-weight: 700;
  text-align: left;
}
.content-wrap h3 {
  font-size: 20px;
  color: #4e1693;
  font-weight: 700;
}

/*howplay-content-css-end*/
/*betting-css-start*/
/*mobile-view-design*/
.bgi-casino {
  background: url(../images/sportbanner.avif);
  padding: 70px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 220px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.bgi-casino::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: -1;
}

.main-rate-star p.rated-star:nth-child(3) {
  font-size: 19px !important;
}

.bgi-casino span {
  color: #d08a38;
  font-size: 18px;
  font-weight: 600;
}

.beste {
  font-size: 22px !important;
  font-weight: 600;
  color: #fff;
  max-width: 60%;
  width: 100%;
  text-align: left;
}

.encrypted {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.encrypted p {
  color: #fff !important;
  font-size: 14px;
  margin: 0 2px 0 0;
}

.myceltwo {
  margin: 0 0 0 10px;
}

.mycelonw .main-rate-star {
  display: flex;
}

img.encrypted-img {
  max-width: 20px;
  margin: 0 4px 0 0;
}

.mobile-view-design {
  background: #f4f4f4;
  padding-bottom: 28px;
  display: none;
}

.mobile-view-design .warapper {
  background: rgba(215, 217, 219, 0);
  border-bottom: 4px solid #4e1693;
  border-radius: 6px;
  margin: 30px 0;
}

.mobile-view-design .warapper .main_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgba(255, 213, 35, 0.4117647059);
  padding: 10px;
  position: relative;
  z-index: 1;
}

.mobile-view-design .warapper .main_box::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(78, 22, 147, 0.7803921569);
  position: absolute;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  width: 55%;
  z-index: -1;
}

.mobile-view-design .warapper .main_box .beting_logo {
  width: 55%;
}

.mobile-view-design .warapper .main_box .beting_logo img {
  width: 70%;
  height: 130px;
  object-fit: contain;
}

.mobile-view-design .warapper .main_box .one_o {
  width: 45%;
}

.mobile-view-design .warapper .main_box .one_o h6.heading_main {
  font-size: 23px !important;
  color: #744496;
  font-weight: 600;
}

.mobile-view-design .warapper .main_box .one_o h6.heading_main .one_o p {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
}

.mobile-view-design .start_line {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 1px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #ffffff;
  margin: 17px 0;
}

.mobile-view-design .start_line p.rating-text {
  padding-bottom: 4px !important;
  margin: 0px !important;
  margin-top: 13px !important;
}

.mobile-view-design .start_line .notpad {
  padding: 0 9px;
}

.mobile-view-design .start_line .notpad p {
  padding-bottom: 0;
}

.mobile-view-design .start_line .main-rate-star {
  display: flex;
  text-align: center;
  justify-content: center;
}

.mobile-view-design .start_line .main-rate-star p.rated-star {
  color: #fdbb4f;
  font-size: 14px !important;
}

.mobile-view-design .awesome a {
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  background: #744496;
  padding: 16px 44px;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  margin-top: 37px;
}

.mobile-view-design p {
  color: #fff;
  font-size: 17px;
}

.one_o p {
  line-height: 22px;
  font-size: 20 px;
  color: #fff;
}

p.rating-text {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.rating-text b {
  color: #fff;
  font-size: 27px;
}

.mobile-view-design p {
  color: #fff;
  margin-bottom: 0;
  font-weight: 500;
}

.one_o p {
  color: black !important;
}

.text_auality p {
  color: #000;
}

.rate.notpad {
  margin-right: 10px;
}

.mycel {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 10px;
}

.main-rate-star {
  display: flex;
}

/*mobile-view-design*/
/*betting-css-end*/


/*# sourceMappingURL=style.css.map */
